/**
* @ base css include. Base styling.
**/

@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

$bodyfont:'Raleway', sans-serif;
$bodycolor: #333;
$linkcolor: #ee443c;
$linkaltcolor:#007aff;
$fadecolor: #999;
$darkbuttonhover: #292929;
$bright: #fff;
$headerfont: 'Arimo', sans-serif;
$confont: 'Open Sans', sans-serif;
$cursive:"Grand Hotel", cursive;
//$headerfont:"futura-pt-condensed",sans-serif;
$h2size:3rem;
$h3size:2.4rem;
$h4size:1.3rem;

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
