/**
* Header styling.
**/
header.banner {
    height: 58px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 300;
}

header#mainnav{
	background-color: $linkaltcolor;
	@include background-image(linear-gradient($linkaltcolor, $linkcolor));
	padding:2.25em 0;
	background-size: cover;
	width:100%;
	z-index:200;
	margin-top:-2px;
	overflow:hidden;
}
.lineup header#mainnav{background:none;}
.lineupbackground, body.lineup #mobilecontainer{
	background-color:$linkaltcolor;
	@include background-image(linear-gradient($linkaltcolor , $linkcolor 40%));	
}
.home header#mainnav{
	background:none;
	position:absolute;
	width:100%;
	overflow:visible;
}
header#mainnav img{
	display:block;
	float: left;
	width:175px;
	height:180px;
}
.sites{
	width:100%;
	background-color: #000;
	color:#fff;
	overflow:hidden;
	font-family:$confont;
	font-weight:500;
}
.sites a, .sites span{
	color: #999;
	padding:0.95em 1.65em;
	display:block;
	@include font-size(1.5);
}
.sites a{
	@include transition-duration(0.3s);
	@include transition-property(all);
	&:hover{
		color:$linkcolor;
		background-color: $darkbuttonhover;
	}
}
.sites span{
	color:$bright;
	background:url(/img/arrow.png) no-repeat 0.65em 50%;
	background-size:9px 9px;
}
.sites a.active{
	color:$linkcolor;
	background-color: $darkbuttonhover;
}
.sites span em{display:none;}

.sites li{
	text-transform: uppercase;
	float:left;
}
.sites li.searchbtn{display:block;}
.maincontainer{
	padding-top: 76px;
	padding-bottom: 76px;
}
li.searchbtn{
	position:absolute;
	right: 0;
	text-indent:-1000em;
}
li.searchbtn a{
	background: #292929 url('/img/search.svg') no-repeat 50% 50%;
	background-size: 17px 17px;
	@include transition-duration(0.3s);
	@include transition-property(all);
	&:hover{
		background-color: $linkaltcolor;
	}
}
li.searchbtn a.active{
	outline: none;
	background-color: $linkaltcolor;
}
li.searchbtn a:focus{
	outline:none;
}
#searchform{
	padding:50px 60px;
	background-color:$linkaltcolor;
	overflow:hidden;
	margin-top:-190px;
	width:100%;
	@include transition-duration(0.3s);
	@include transition-property(all);
}
#searchform.active{

	margin-top: 0;
}
#searchform label, #searchform input[type="text"]{
	@include font-size(2);
	color:#fff;
	font-family: $headerfont;
	font-weight:800;
	text-transform:uppercase;
	letter-spacing: -0.05em;
	display:inline-block;
}
#searchform label{
	width:22%;
	text-align:right;
	padding-right:1%;
}
#searchform input[type="text"]{
		border:0;
		width:78%;
		background-color:$linkaltcolor;
}
li.shopcart{
	position:absolute;
	right: 60px;
}
li.shopcart span{
	color:#999;
	@include font-size(1.5);

}
li.shopcart strong{
	background-color: $linkcolor;
	color: #fff;
	padding:0 6px;
	margin-left:6px;
	vertical-align:top;
}
li.shopcart a{
	display:inline;
	color:#fff;
	padding:0;
	&:hover{
		background-color:transparent;
		color:#fff;
	}
}
li.shopcart span{
	background: url(../img/cart.svg) no-repeat 0 50%;
	background-size: 15px 15px;
	padding: 1.25em;
}
.woocommerce .cart-collaterals .shipping_calculator .shipping-calculator-button:after, .woocommerce-page .cart-collaterals .shipping_calculator .shipping-calculator-button:after {
	display:none;
}
.banner .sites ul{
	margin-left:-19px;
}